.DS_Store
*.db*
/bin
coverage.out
coverage.html
.scannerwork

# HA addon config
config.yaml 

# Node modules
node_modules

# Playwright
playwright/.playwright
.tmp
playwright/test-results
playwright/playwright-report

# JavaScript unit tests
static/js/coverage