.DS_Store
*.db*
/bin
coverage.out
.scannerwork
.sonarlint
sonar-project.properties

# HA addon config
config.yaml 

# Playwright
playwright/.playwright
.tmp
node_modules
playwright/test-results
playwright/playwright-report